# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libranries used by data scientists
- Create table in a markdown cell
- Rename a jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. PyTorch
6. Keras
7. SciPy

|Data Science Tools|
:-------------------------
|Jupyter Notebook|
|R Studio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python
2+3
3-2
3*2

In [13]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Uche Onyishi